<h2><%= @user.name %>'s Profile</h2>

<p style="background-color: <%= cycle('rgba(213, 245, 227, 1)', 'rgba(234, 250, 241,.5)') %>" class="every_other">EMAIL: <%= @user.email %></p>
<p style="background-color: <%= cycle('rgba(213, 245, 227, 1)', 'rgba(234, 250, 241,.5)') %>" class="every_other">NAME: <%= @user.name %></p>
<p style="background-color: <%= cycle('rgba(213, 245, 227, 1)', 'rgba(234, 250, 241,.5)') %>" class="every_other"><%= image_tag @user.profile_picture %></p>

<hr>
<div class="controls">
	<p>
		<% if @current_user.id == @user.id || @current_user.admin? %> 
		<%= link_to 'Edit', edit_user_path(@user) %>  
		<% end %>
		<% if @current_user.admin? %>
			<%= link_to 'Delete', @user, :method => 'delete', data: {confirm: 'Are you sure? This will delete everything.'} %>
		<% end %>
	</p>
</div>