<div class="new">


<% if @activity.errors.any? %>
  <ol>
    <% @activity.errors.full_messages.each do |msg| %>
      <li id="errors">
        <%= msg %>
      </li>
    <% end %>
  </ol>
<% end %>

<%= form_for(@activity) do |f| %>
	<p>
		<%= f.label :activity %>
		<%= f.text_field :activity, :class => 'form-control' %>
	</p>
	<p>
		<%= f.label :description %>
		<%= f.text_area :description, size: "40x6", :class => 'form-control' %>
	</p>
	<p>
	Who did this? : <%= f.select :user_id, User.all.map { |user| [user.name,  user.id] }, {}, :class => 'form-control', :include_blank => true %>
	</p>
	<p>Who are you? : <%= f.select :created_by_id, [[@current_user.name,  @current_user.id]], {}, :class => 'form-control' %></p>


	<%= f.submit 'Submit Activity', :class => "btn btn-primary" %>
<% end %>

</div>