<h2>Activities List</h2>

<p><%= @current.name %>, here are all your activities.</p>

<% @activities.each do |activity| %>
	<% if User.find(activity.user_id).id == @current.id  %>

		<h4>User: <%= link_to(User.find(activity.user_id).name, activity_path(activity)) %> || Activity: <%= activity.activity %></h4>
		<h5>POINTS FROM OTHER USERS</h5> 
		<% @all_points_current_user.each do |point| %>
			<% if activity.id == point.activity_id %>
				From: <%= User.find(point.voting_user_id).name %> ||
				Points Given: <%= point.points %> ||
				Comment: <%= point.comment %>
				</p>
			<% end %>
		<% end %>
		<hr>
	<% end %>
<% end %>

<h2>Other User Activities List</h2>

<% @activities.each do |activity| %>
	<% if User.exists?(activity.user_id) && User.find(activity.user_id).id != @current.id   %>
		<p>User: <%= link_to(User.find(activity.user_id).name, activity_path(activity)) %> || Activity: <%= activity.activity %>
		<%= link_to "ADD POINTS/COMMENTS", new_point_path %>
		</p>
	<hr>
	<% end %>
	
<% end %>