<h2>Activity: <%= @activity.activity %></h2>


<p>Person who preformed activity: <%= User.find(@activity.user_id).name %></p>
<p><%= @activity.description %></p>
<p>TOTAL POINTS: <%= @total %></p>

<h3>Voting Users </h3>

<% @all_points.each do |x| %>
	
	<p><%= User.find(x.voting_user_id).name %> gave you <%= pluralize(x.points, 'point') %> and commented that: <%= x.comment %> </p>

	
<% end %>

<hr>
<p>Activity was Created by: <%= User.find(@activity.created_by_id).name %></p>
<hr>
<% if @current_user.id == @activity.created_by_id || @current_user.admin? %>
	<%= link_to 'Edit', edit_activity_path(@activity) %>
	<%= link_to "Delete", @activity, :method => 'delete', data: {confirm: 'Are you sure?'} %>
<% end %>

<% if @current_user.id != @activity.user_id || @current_user.admin? %>
<%= link_to "ADD POINTS/COMMENTS", new_point_path %>
<% end %>