<h2>Activity: <%= @activity.activity %></h2>


<p>Person who preformed activity: <%= User.find(@activity.user_id).name %></p>
<p><%= @activity.description %></p>
<p>TOTAL POINTS: <%= @total %></p>

<h3>Voting Users </h3>

<% @all_points.each do |x| %>
	
	<p>User: <%= User.find(x.voting_user_id).name %> || Comment: <%= x.comment %> || Points Given: <%= x.points %></p>

	
<% end %>
<p></p>
<p>Created by: <%= User.find(@activity.created_by_id).name %></p>

<% if @current_user.id == @activity.created_by_id || @current_user.admin? %>
	<%= link_to 'Edit', edit_activity_path(@activity) %>
	<%= link_to "Delete", @activity, :method => 'delete', data: {confirm: 'Are you sure?'} %>
<% end %>