<!DOCTYPE html>
<html>
<head>
  <title>Karmapolice</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav>
		<%= link_to 'Home', '/' %>
		<%= link_to 'USERS', users_path %>
		<%= link_to 'NEW USER', new_user_path %>
		<%= link_to 'ACTIVITIES', activities_path %>
		<%= link_to 'NEW ACTIVITY', new_activity_path %>
		<%= link_to 'POINTS', points_path %>
		<%= link_to "ADD POINTS", new_point_path %>
		

	</nav>

	<div class="container">
		<%= yield %>
	</div>

</body>
</html>
