<!DOCTYPE html>
<html>
<head>
  <title>Karmapolice</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav>
		<ul>
		 <li><%= link_to 'Home', '/' %></li>
		<% if @current_user && @current_user.admin? %> 
			 <li><%= link_to 'USERS', users_path %> </li>
			 <li><%= link_to 'ACTIVITIES', activities_path %></li>
			 <li><%= link_to 'POINTS', points_path %></li>
			 <li><%= link_to "ADD POINTS", new_point_path %></li>
		<% end %>
		
		<% if @current_user %> 
		  
		    <li>Welcome <%= @current_user.name %></li> ||
		    <%= link_to 'Activities', activities_path %> ||
		    <li><%= link_to 'Create New Activity', new_activity_path %></li> <li>||
		    <%= link_to "Logout #{ @current_user.name }", login_path, :method => 'delete', :data => { :confirm => 'Are you sure you wish to logout?' } %> </li>
		  </ul> 
		<% else %> 
		  <ul> 
		    <li><%= link_to "Login", 'login' %></a></li> 
		    <li><%= link_to "Signup", 'signup' %></a></li> 
		  </ul> 
		<% end %>
	</nav>
	


	<div class="container">
		<%= yield %>
	</div>

</body>
</html>
