<!DOCTYPE html>
<html>
<head>
  <title>Karmapolice</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<nav>
		<ul>
		
		<% if @current_user && @current_user.admin? %> 
			<li>ADMIN</li>
			<i class="fa fa-bolt"></i>
			<li><%= link_to 'USERS', users_path %> </li>
			 
		<% end %>
		
		<% if @current_user %> 
		  	<li id="welcome">Welcome <%= @current_user.name  %> </li>	 
		  	<li><%= link_to( '', root_path, :class => "fa fa-home fa-lg") %></li>
		   	<li><i class="fa fa-bolt"></i> <%= link_to 'Profile', user_path(@current_user) %></li>
		   	
		   	<li><i class="fa fa-bolt"></i> <%= link_to 'Activities', activities_path %></li>
				
		    <li><i class="fa fa-bolt"></i> <%= link_to 'Create New Activity', new_activity_path %></li>
		    
		    <li class='last'><i class="fa fa-bolt"></i> <%= link_to "Logout #{ @current_user.name }", login_path, :method => 'delete', :data => { :confirm => 'Are you sure you wish to logout?' } %> </li>
		   
		<% else %> 
		  	
		    <li><%= link_to "Login", login_path %></a></li> 
		    
		    <li><%= link_to "Signup", signup_path %></a></li> 
		    
		<% end %>
		</ul>
	</nav>

	
	<div class="container">

		<% if flash[:message].present? %>
  			<p id="errors"><%= flash[:message] %></p>
		<% end %>
		
		<%= yield %>
	</div>

	<footer><p>Karma Po Po // a peer based feedback system.<span>...</span></p> </footer>

</body>
</html>
